.logo
.main-heading RUG
%h2.subtitle
  where(:country_code => 'MD')
%p 
  Ruby? Da!
%p 
  Hai și vom %w[aduna, discuta, prezenta].sample informații despre tot ce ține de ruby și tehnologiile aferente împreună.

